<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="footer">
    <footer class="py-3 bg-dark">
        <div class="container">
            <p sec:authorize="isAuthenticated()" class="m-0 text-center text-white">Copyright © Online academy 2018</p>
                    <!--user: <span sec:authentication="name"></span>-->
                    <!--roles: <span sec:authentication="principal.authorities"></span>-->
        </div>
    </footer>

    <script type="text/javascript" src="/lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/jquery-3.3.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>

</th:block>
</body>
</html>