body {
    background-image: url("/img/background.jpg");
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.card {
    height: 100%;
}

.py-3 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.text-center {
    margin-bottom: 60px;
}