h1 {
    color: #78ab46;
    margin-top: 100px;
}

header {
    position: fixed;
    height: 50px;
    top: 0;
    width: 100%;
    background-color: #ccc;
}

<<<<<<< Updated upstream
footer {
=======
.py-2 {
>>>>>>> Stashed changes
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #ccc
}

<<<<<<< Updated upstream
footer p {
    padding: 15px;
=======
#courses-list {
    margin-bottom: 40px;
}

#p-rating {
    color: #1c7430;
}

.user-info {
    color: #9E9E9E;
    font-size: 13px;
    font-style: italic;
}

.list-group-item {
    color: #4e555b;
}

.login {
    background-color: aliceblue;
    border-radius: 7px;
    height: 370px;
    margin: 0 auto;
    width:20%;
    margin-top: 140px;
}

.form-control {
    margin-bottom: 25px;
>>>>>>> Stashed changes
}