body {
    background-color: #4e555b;
}

h1 {
    color: #78ab46;
    margin-top: 100px;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa!important;
}

footer p {
    padding: 15px;
}