<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Index</title>
</head>
<body>

<div layout:fragment="content" th:remove="tag">

    <header class="jumbotron my-4">
        <h1 class="display-3">Welcome page!</h1>
        <p class="lead">This is online courses by UAcademy. Let's go to try some of them!!</p>
        <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>

    <div class="row text-center" id="courses-list">

    </div>

</div>

</body>
</html>