<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>

<div th:if="${param.error}">
    <h3 style="color: red">Invalid username and password.</h3>
</div>

<div th:if="${param.logout}">
    <h3 style="color: red">You have been logged out.</h3>
</div>

<form th:action="@{/app/login}" method="POST">

    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>

    <div><input type="submit" value="Sign In"/></div>

</form>

</body>
</html>