<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>

<form id="register-form" method="post">

    <label for="username">Username: </label>
    <input id="input-username" type="text" name="username"/><br/>
    <label for="password">Password: </label>
    <input id="input-password" type="password" name="password"/><br/>
    <label for="confirm">Confirm password: </label>
    <input id="input-confirm" type="password" name="confirm"/><br/>
    <label for="fullName">Full name: </label>
    <input id="input-fullName" type="text" name="fullName"/><br/>
    <label for="age">Age: </label>
    <input id="input-age" type="text" name="age"/><br/>
    <label for="workExperience">Work experience: </label>
    <input id="input-workExperience" type="text" name="workExperience"/><br/>
    <label for="email">Email: </label>
    <input id="input-email" type="text" name="email"/><br/>
    <label for="skype">Skype: </label>
    <input id="input-skype" type="text" name="skype"/><br/>
    <label for="phone">Phone: </label>
    <input id="input-phone" type="text" name="phone"/><br/>
    <input type="submit" value="Register"/>

</form>

<script src="/js/registration-instructor.js"></script>
</body>
</html>